@import "tailwindcss";

:root {
  --background: #900505;
  --foreground: #712828;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #000000;
  }
}

body {
  background: linear-gradient(to bottom, #000000, #5a378c);
  min-height: 100vh;

  font-family: poppins, sans-serif;
  margin: 0;
  padding: 0;
}
.about-grid {
  display: flex;
  gap: 20px;
  padding: 20px;
}
.about-box {
  max-width: 80%;
  max-height: 50%;
  margin-left: auto;
  margin-right: auto;
}

/* Coluna da esquerda */
.left-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Coluna da direita */
.right-column {
  flex: 1;
}

.bottom-row {
  display: flex;
  gap: 20px;
}

.half {
  flex: 1;
}

.box {
  background-color: #190f26;
  padding: 16px;
  border-radius: 8px;
  opacity: 0.8;
}

.full-height {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/*@apply min-h-screen bg-gradient-to-b from-black to-purple-950;
  /* Color Theme Swatches in Hex 
  .Neon-light-on-wooden-wall-background.-1-hex { color: #D6ACF2; }
  .Neon-light-on-wooden-wall-background.-2-hex { color: #8850BF; }
  .Neon-light-on-wooden-wall-background.-3-hex { color: #392259; }
  .Neon-light-on-wooden-wall-background.-4-hex { color: #5A378C; }
  .Neon-light-on-wooden-wall-background.-5-hex { color: #190F26; }
  

  .Neon-light-on-wooden-wall-background.-1-rgba { color: rgba(214, 171, 242, 1); }
  .Neon-light-on-wooden-wall-background.-2-rgba { color: rgba(135, 80, 191, 1); }
  .Neon-light-on-wooden-wall-background.-3-rgba { color: rgba(56, 33, 89, 1); }
  .Neon-light-on-wooden-wall-background.-4-rgba { color: rgba(90, 54, 140, 1); }
  .Neon-light-on-wooden-wall-background.-5-rgba { color: rgba(24, 14, 38, 1); }
  
  
  .Neon-light-on-wooden-wall-background.-1-hsla { color: hsla(275, 73, 81, 1); }
  .Neon-light-on-wooden-wall-background.-2-hsla { color: hsla(270, 46, 53, 1); }
  .Neon-light-on-wooden-wall-background.-3-hsla { color: hsla(264, 44, 24, 1); }
  .Neon-light-on-wooden-wall-background.-4-hsla { color: hsla(264, 43, 38, 1); }
  .Neon-light-on-wooden-wall-background.-5-hsla { color: hsla(264, 43, 10, 1); }
  */
